@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0%;
  padding: 0%; }

/* FONDO */
.fondo {
  width: 100%;
  background-image: url("../assets/images/logo/fondo_index.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* FONDO */
/* ENTREGA FINAL */
.colorPrimario {
  background-color: rgba(28, 253, 178, 0.719) !important; }

.colorSecundario {
  background-color: rgba(210, 106, 241, 0.68); }

.titulo {
  background-color: #cd75e7; }

.sombra {
  background-color: black; }

.sinColor {
  background-color: rgba(255, 255, 255, 0) !important; }

.boton, header.header nav.caja-2 ul.ul-head li.li-head a.a-head {
  background: rgba(210, 106, 241, 0.68);
  padding: 10px 10px !important;
  border-radius: 9px !important;
  text-align: center; }

.boton2, header.header nav.caja-2 ul.ul-head li.li-head a.a-head:hover {
  width: 10px 21px !important;
  border-radius: 9px !important;
  background: #cd75e7;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 7px 5px 25px 1px #000000; }

.boton3, header.header nav.caja-2 ul.ul-head li.li-head a.a-head:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 25px -10px #000000; }

/* ENTREGA FINAL */
/* SEPARACIÓN Y BORDES*/
.marpad {
  margin: 1% 0% 1% 0%;
  padding: 1%; }

.borde {
  border-radius: 5px; }

.mar {
  margin: 1% 0% 1% 0%; }

.mar2 {
  margin-left: 0.5%;
  margin-right: 0.5%; }

/* SEPARACIÓN Y BORDES*/
/* ESTILO NAV */
.estilo {
  background: rgba(210, 106, 241, 0.68);
  width: 10px 21px !important;
  border-radius: 9px !important;
  margin: 0% 1% 0% 1%;
  text-align: center; }

.estilo:hover {
  width: 10px 21px !important;
  border-radius: 9px !important;
  margin: 0% 1% 0% 1%;
  background: #cd75e7;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 7px 5px 25px 1px #000000; }

.estilo:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 25px -10px #000000; }

/* ESTILO NAV */
/* BOOSTRAP */
.campos {
  width: 100%; }

.test {
  width: 65%; }

/* BOOSTRAP */
/*IMG achicadas temporalmente*/
.foto {
  margin: auto; }

.logos_svg {
  width: 40px; }

.logos_svg2 {
  width: 45px; }

.logo_ink {
  width: 100px; }

.foto_art {
  width: 300px; }

.tam_img {
  width: 210px;
  height: 235px;
  margin: auto;
  padding: auto; }

.img_qs {
  width: 40%; }

/*IMG achicadas temporalmente*/
.grid {
  display: grid;
  grid-template-areas: "header header" "main aside" "footer footer";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto; }

.footer, .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(28, 253, 178, 0.719);
  padding: 0.1%;
  align-items: center; }

header.header {
  grid-area: header;
  position: sticky;
  top: 0px; }
  header.header div.caja-1 {
    margin-left: 1%; }
  header.header nav.caja-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    header.header nav.caja-2 ul.ul-head {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      header.header nav.caja-2 ul.ul-head li.li-head {
        margin: 0.1%; }
  header.header div.caja-3 {
    margin-right: 1%; }

main.main {
  min-height: 700px;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%; }
  main.main div.div-main {
    width: 90%;
    background-color: rgba(28, 253, 178, 0.719) !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1%; }
    main.main div.div-main div.div-totu {
      margin: 1%; }
    main.main div.div-main div.div-des {
      width: 95%;
      margin: 1%; }
      main.main div.div-main div.div-des h3 {
        margin: 1%; }
      main.main div.div-main div.div-des p {
        margin: 1%; }
    main.main div.div-main div.div-img {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; }
      main.main div.div-main div.div-img img {
        margin: 1%;
        border-radius: 5px; }

aside.aside {
  min-height: 700px;
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%; }
  aside.aside div.div-aside {
    width: 90%;
    background-color: rgba(28, 253, 178, 0.719) !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1%; }
    aside.aside div.div-aside div.aside-titu {
      margin: 1%;
      text-align: center; }
    aside.aside div.div-aside div.div-img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 1%; }
      aside.aside div.div-aside div.div-img img {
        margin: 1%; }

footer.footer {
  grid-area: footer;
  padding: 0.1%;
  justify-content: space-around;
  flex-wrap: wrap; }
  footer.footer div.div-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer.footer div.div-col h6 {
      font-size: 20px;
      margin: 1%;
      text-align: center; }
    footer.footer div.div-col a.a-div {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      justify-content: center;
      align-items: center; }

/* MEDIA MOBILE */
@media only screen and (min-width: 320px) and (max-width: 740px) {
  .grid {
    display: grid;
    grid-template-areas: "header header" "main main" "aside aside" "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto; }
  header.header {
    flex-wrap: wrap;
    position: relative; }
    header.header div.caja-1 {
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center; }
    header.header nav.caja-2 {
      margin-top: 10px;
      order: 3;
      width: 100%; }
      header.header nav.caja-2 ul.ul-head {
        height: 100px; }
        header.header nav.caja-2 ul.ul-head li.li-head {
          margin: 1%; }
    header.header div.caja-3 {
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center; }
  main.main {
    margin-top: -5%;
    margin-bottom: -5%; }
  aside.aside {
    margin-top: -5%; }
  footer.footer {
    margin-top: 1%;
    flex-wrap: wrap; }
    footer.footer div.pos-2 {
      order: 1;
      width: 50%; }
    footer.footer div.pos-3 {
      order: 2;
      width: 50%; }
    footer.footer div.pos-1 {
      order: 3;
      width: 50%; }
    footer.footer div.pos-4 {
      order: 4;
      width: 50%; } }

.img_qs {
  width: 280px; }

.foto_art {
  width: 280px; }

@media only screen and (min-width: 320px) and (max-width: 490px) {
  .no_sticky {
    position: relative; }
  .test {
    width: 100%; }
  .cosa1 {
    order: 3; }
    .cosa1 h6 {
      text-align: center; }
  .cosa2 {
    order: 1; }
    .cosa2 h6 {
      text-align: center; }
  .cosa3 {
    order: 2; }
    .cosa3 h6 {
      text-align: center; }
  .cosa4 {
    order: 4; }
    .cosa4 h6 {
      text-align: center; }
  .media {
    width: 95%;
    margin: auto; }
  .estilo {
    width: 10px 21px !important;
    border-radius: 9px !important;
    margin: 0% 1% 0% 1%;
    background: #cd75e7;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s; }
  .img_qs {
    width: 280px; }
  .foto_art {
    width: 280px; }
  .campos2 {
    width: 100%; } }

/* MEDIA MOBILE */
/* MEDIA */
@media only screen and (min-width: 491px) and (max-width: 991px) {
  .no_sticky {
    position: relative; }
  .cosa1 {
    order: 3; }
  .cosa2 {
    order: 1; }
  .cosa3 {
    order: 2; }
  .cosa4 {
    order: 4; }
  .media {
    width: 95%;
    margin: auto; }
  .media {
    width: 60%;
    margin: auto; }
  .img_qs {
    width: 280px; } }

/* MEDIA */
/* No requiere de @media para 1024 */
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .img_qs {
    width: 400px; } }
