*{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}
/* FONDO */
.fondo{
    width: 100%;
    background-image: url("../assets/images/logo/fondo_index.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* FONDO */

/* ENTREGA FINAL */
$coloresBG:(
	colorPrimario:rgba(28, 253, 178, 0.719)!important,
	colorSecundario:rgba(210, 106, 241, 0.68),
	titulo:rgb(205, 117, 231),
	sombra:rgb(0, 0, 0),
	sinColor:rgba(255, 255, 255, 0)!important,

);

@each $tinte, $color in $coloresBG{
	.#{$tinte}{
		background-color: $color;
	}
}


$DistaSocial:(
    mar-1: 0.1%,
    mar-2: 1%,
    bord: 5px,
    
);

.boton{
    background: rgba(210, 106, 241, 0.68);
    padding: 10px 10px!important;
    border-radius: 9px!important;
    text-align: center;
}

.boton2{
    width: 10px 21px!important;
    border-radius: 9px!important;
    background: #cd75e7;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 7px 5px 25px 1px #000000;
}

.boton3{
    transform: scale(0.97);
    box-shadow: 7px 5px 25px -10px #000000;
}


/* ENTREGA FINAL */

/* SEPARACIÓN Y BORDES*/
.marpad{
    margin: 1% 0% 1% 0%;
    padding: 1%;
}

.borde{
    border-radius: 5px;
}

.mar{
    margin: 1% 0% 1% 0%;
}

.mar2{
    margin-left: 0.5%;
    margin-right: 0.5%;
}

/* SEPARACIÓN Y BORDES*/

/* ESTILO NAV */

.estilo{
    background: rgba(210, 106, 241, 0.68);
    width: 10px 21px!important;
    border-radius: 9px!important;
    margin: 0% 1% 0% 1%;
    text-align: center;
}

.estilo:hover{
    width: 10px 21px!important;
    border-radius: 9px!important;
    margin: 0% 1% 0% 1%;
    background: #cd75e7;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 7px 5px 25px 1px #000000;
}

.estilo:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 25px -10px #000000;
}
/* ESTILO NAV */

/* BOOSTRAP */
.campos{
    width: 100%;
}

.test{
    width: 65%;
}

/* BOOSTRAP */


/*IMG achicadas temporalmente*/
.foto{
    margin: auto;
}

.logos_svg{
    width: 40px;
}

.logos_svg2{
    width: 45px;
}

.logo_ink{
    width: 100px;
}

.foto_art{
    width: 300px;
}

.tam_img{
    width: 210px;
    height: 235px;
    margin: auto;
    padding: auto;
}

.img_qs{
    width: 40%;
}

/*IMG achicadas temporalmente*/